.direction_controller {
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 2em;
  margin: auto ;
  padding: 0;
  position: relative;
  width: 2em;

  &__inner {
    background-color: white;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 1em;
    margin: auto ;
    padding: 0;
    position: relative;
    width: 1em;
  }
}