.seek-enter {
    opacity: 0;
    z-index: 1;
  }
  .seek-enter-active {
    opacity: 1;
    transition: opacity .5s .5s;
    z-index: 1;
  }
  .seek-exit {
    margin-top: -50%;
    z-index: -1;
  }
  .seek-exit-active {
    margin-top: -50%;
    z-index: -1;
  }
  .seek-exit-done {
    margin-top: -50%;
    z-index: -1;
  }