.seek-enter {
    opacity: 0.1;
}

.seek-enter.seek-enter-active {
    opacity: 1;
    transition: opacity 600ms linear;
}

.seek-exit {
    opacity: 1;
}

.seek-exit.seek-exit-active {
    opacity: 0.1;
    transition: opacity 500ms 400ms linear;
}